<h1>Legislators</h1>

<table>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Sponsored Bills</th>
    <th>Supported Bills</th>
    <th>Opposed Bills</th>
    <th>Actions</th>
  </tr>

  <% @legislators.each do |legislator| %>
    <tr>
      <td><%= legislator.id %></td>
      <td><%= legislator.name %></td>
      <td><%= legislator.bills.count %></td>
      <td><%= legislator.supported_bills.count %></td>
      <td><%= legislator.opposed_bills.count %></td>
      <td><%= link_to 'Show', legislator %></td>
    </tr>
  <% end %>
</table>